<% include ../header.html %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="margin-bottom:20px;">
			<form action="/movie/add" method="post">
				<div class="col-lg-4">
					<div class="input-group">
					  <input type="text" class="form-control" id="c_editor" name="mName">
					  <span class="input-group-btn">
						<button class="btn btn-default" type="submit">Go!</button>
					  </span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			<form>
		</div>
		<div class="col-md-12">
			<div class="col-lg-10">
				<ul class="list-group">
					 <% for(var i=0; i<supplies.length; i++) { %>
						<li class="list-group-item">
							<a href='<%= supplies[i].name %>'>
								<%= supplies[i].name %>
							</a>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="col-lg-2">
				<ul class="list-group">
					 <% for(var i=0; i<supplies.length; i++) { %>
						<li class="list-group-item">
							<a href='<%= supplies[i].name %>'>
								<%= supplies[i].name %>
							</a>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../footer.html %>
